@import "node_modules/swiper/swiper";
@import "@/assets/mixins";

:root {
	--swiper-theme-color: #007aff;
	/*
	--swiper-preloader-color: var(--swiper-theme-color);
	--swiper-wrapper-transition-timing-function: initial;
	*/
}
.banner__swiper-wrapper .swiper-wrapper {
	width: 73%;

	@include adaptive {
		width: 100%;
	}
}
.catalog__swiper-wrapper .swiper-wrapper {
	max-width: 98px;
	width: 100%;

	@include adaptive {
		max-width: 200px;
	}
}
.products__list-wrapper .swiper-wrapper {
	max-width: 144px;
	width: 100%;

	@include adaptive {
		max-width: 169px;
	}
}
